/* Geral */
.hidden {
  display: none;
}

html, body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/backdrop.png); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  min-height: 100vh;
  margin: 0;
  font-family: fantasy;
  font-size: 18px;
}

/* Logo */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  width: 100%; 
  height: 80px; 
}

#main-logo {
  width: 100%;
  max-width: 100px; 
}

#main-logo img {
  width: 100%;
  height: auto;
  display: block;
}

/* Menu */

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px; 
  background-color: plum;
  border: 3px dashed #000000;
  border-radius: 8px;
}

#main-nav {
   display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

ul li {
  margin: 0 5px;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  transition: color 0.3s ease;
}

ul li a:hover {
  color:purple;
}

/* Icons */

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-icons i {
  font-size: 15px;
  margin-right: 5px;
  color: #333;
  transition: color 0.3s, transform 0.3s;
  padding: 5%;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.social-icons i:hover {
  color: #007bff; 
  transform: scale(1.2);
  background-color: #007bff;
  color: #fff;
}

.social-icons i.clicked {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

/* All Heads */

#image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#image-container img {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
 /* Buttons */
 #buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
 }

 button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s background-color 0.3s;
 }

 button:hover {
  background-color: #800080;
  transform: scale(1.1);
 }

 /*Footer */ 

 footer {
  background: linear-gradient(90deg, #222, #444); /* Fundo com degradê */
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-logo h2 {
  font-size: 12px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #bbb;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #bbb;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}


/* Media Queries */

@media screen and (min-width: 768px) {
  /* Geral */

  .grid-con {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 15px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
  }

  body {
    background-image: url(../images/backdrop.png); 
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
  }

  /* Logo */

  .box {
    height: 100px; 
    margin-right: 10px;
  }
  
  #main-logo {
    max-width: 150px; 
  }

  /* Menu */

  #main-nav {
    margin-top: 10px;
    display: flex;
  }

  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px; 
    background-color: plum;
    border: 3px dashed #000000;
    border-radius: 8px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  ul li {
    margin: 0 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: color 0.3s ease; 
  }
  
  ul li a:hover {
    color: purple;
  }

  /*Icons */ 

  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  
  .social-icons i {
    font-size: 24px;
    margin-right: 20px;
    color: #333;
    transition: color 0.3s, transform 0.3s;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .social-icons i:hover {
    color: #007bff; 
    transform: scale(1.2);
    background-color: #007bff;
    color: #fff;
  }

  /* All Heads */

  #image-container img {
    max-width: 1000px;  
  }

  /*Buttons */ 

 #buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
 }

 button {
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s background-color 0.3s;
 }

 button:hover {
  background-color: #800080;
  transform: scale(1.1);
 }

 /*Footer */ 

 footer {
  background: linear-gradient(90deg, #222, #444); /* Fundo com degradê */
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-logo h2 {
  font-size: 14px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #bbb;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #bbb;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

}

@media screen and (min-width: 1200px) {
  /*Geral */ 

  .grid-con {
    max-width: 1600px;
    grid-column-gap: 20px;
  }

  body {
    background-image: url(../images/backdrop.png); 
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
  }

  /* Logo */

  .box {
    height: 120px; 
    margin-right: 15px;
  }

  /* Menu */

  #main-logo {
    max-width: 200px; 
  }

  #main-nav {
    margin-top: 20px;
  }

  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px; 
    background-color: plum;
    border: 3px dashed #000000;
    border-radius: 8px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  ul li {
    margin: 0 15px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
    font-size: 28px;
    transition: color 0.3s ease;
  }
  
  ul li a:hover {
    color:purple;
  }

  /*Icons */ 

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-icons i {
  font-size: 24px;
  margin-right: 20px;
  color: #333;
  transition: color 0.3s, transform 0.3s;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.social-icons i:hover {
  color: #007bff; 
  transform: scale(1.2);
  background-color: #007bff;
  color: #fff;
}

/* All Heads */

#image-container img {
  max-width: 1400px; 
  max-height: 1000px; 
}

/*Buttons */ 

#buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
 }

 button {
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s background-color 0.3s;
 }

 button:hover {
  background-color: #800080;
  transform: scale(1.1);
 }

  /*Footer */ 

  footer {
    background: linear-gradient(90deg, #222, #444); /* Fundo com degradê */
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  
  .footer-logo h2 {
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer-links ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #bbb;
  }
  
  .footer-social {
    display: flex;
    gap: 10px;
  }
  
  .footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s;
  }
  
  .footer-social a:hover {
    color: #bbb;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
}
